* {
	user-select: none;
}

body {
	margin: 0;
	display: grid;
	place-items: center;
	height: 100vh;
}

.game-zone {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.cells {
	width: 800px;
	height: 400px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}

.cell {
	background-color: #efed40;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	transition: 0.125s linear all;
	cursor: pointer;
}

.cell:active {
	transform: scale(0.9);
}

.random {
	background-color: black;
	color: #fff;
	border: none;
	padding: 0.5rem 1rem;
	font-size: 30px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.125s linear all;
}

.random:active {
	transform: scale(0.9);
}
