body {
	display: grid;
	align-items: center;
	justify-items: center;
	height: 100vh;
	background-color: #efed40;
}
h1 {
	font-size: 80px;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

.img-wrapper {
	width: 400px;
	height: 400px;
	overflow: hidden;
	border: 1px solid;
	display: grid;
	place-items: center;
}

.img-wrapper img {
	object-fit: cover;
	width: 100%;
}

.scale_animation {
	animation: scale 4s ease-in-out infinite;
	animation-direction: alternate;
}

.scale_animation:hover {
	animation-play-state: paused;
}

.pause {
	animation-play-state: paused;
}
@keyframes scale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1.5);
	}
}
