.about {
  display: flex;
  gap: 90px;
  padding: 100px 0;
  .left {
    width: 56%;
    h3{
        font-size: 48px;
        margin-bottom: 20px;
    }
    p{
        font-size: 18px;
        color: #8F95A5;
        margin-bottom: 40px;
    }
    .left-bottom {
      display: flex;
      justify-content: space-between;
      div {
        text-align: center;
        span {
          font-size: 43px;
        }
      }
    }
  }
  .right{
    width: 44%;
    display: flex;
    align-items: center;
    img{
        width: 100%;
    }
  }
}

@media (max-width: 992px) {
    .about{
        .left{
            h3{
                font-size: 36px;
            }
            p{
                font-size: 14x;
            }
            span {
                font-size: 28px;
              }
        }
    }
}

@media (max-width: 776px) {
    .about{
        .left{
            h3{
                font-size: 30px;
            }
            p{
                font-size: 12x;
            }
            span {
                font-size: 20px;
              }
        }
    }
}

@media (max-width: 575px) {
    .about {
        flex-direction: column-reverse;
        text-align: center;
        .left {
          width: 100%;
          h3{
              font-size: 30px;
          }
          p{
              font-size: 14px;
          }
          .left-bottom {
              span {
                font-size: 20px;
              }
          }
        }
        .right{
          width: 100%;
        }
      }
}

@media (max-width: 320px) {
    .about{
        .left-bottom{
            flex-direction: column;
        }
    }
}