* {
	box-sizing: border-box;
}

:root {
	--primary: #161c24;
	--white: #fff;
	--active-cell: #c2deff;
	--similar-cell: #94a3b7;
}

* {
	user-select: none;
}
body {
	height: 100vh;
	display: grid;
	place-items: center;
}

.wrapper {
	display: flex;
	justify-content: center;
	gap: 1rem;
	align-items: center;
}

.game {
	width: 500px;
	height: 500px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	background-color: var(--primary);
	gap: 3px;
	padding: 3px;
}

.board {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	background-color: var(--primary);
	gap: 1px;
}

.cell {
	display: grid;
	place-items: center;
	background-color: var(--white);
	color: var(--primary);
	font-size: 25px;
	cursor: pointer;
}

.cell.active {
	background-color: var(--active-cell);
}
.cell.similar {
	background-color: var(--similar-cell);
}

.numpad {
	width: 300px;
	height: 300px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #eaeef4;
	gap: 4px;
	padding: 4px;
}

.num {
	display: grid;
	place-items: center;
	background-color: var(--white);
	color: var(--primary);
	font-size: 25px;
	cursor: pointer;
}

.num:active {
	background-color: var(--active-cell);
}
