.header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    user-select: none;
 
    .nav {
       display: flex;
       gap: 35px;
       font-size: 18px;
 
       .menu {
          cursor: pointer;
          transition: all 0.2s;
          color: #263238;
          text-decoration: none;
 
          &:hover {
             color: #00000098;
             transform: scale(1.05);
          }
       }
 
       .close-btn {
          font-size: 30px;
          display: none;
       }
    }
 
    .talk-btn {
       padding: 15px 40px;
       border: 2px solid #263238;
       border-radius: 5px;
       font-size: 22px;
       transition: all 0.2s;
       cursor: pointer;
 
       &:hover {
          transform: scale(1.03);
       }
    }
 
    .menu-icon {
       font-size: 30px;
       color: #000;
       cursor: pointer;
       display: none;
    }
 }
 
 @media(max-width: 992px) {
    .header {
       height: 100px;
 
       .nav {
          font-size: 14px;
       }
 
       .talk-btn {
          padding: 12px 40px;
       }
    }
 }
 
 @media(max-width: 767px) {
    .header {
       height: 80px;
 
       .nav,
       .talk-btn {
          display: none;
       }
 
       .nav.show {
          display: flex;
          height: 400px;
          position: absolute;
       }
 
       .menu-icon {
          display: flex;
       }
    }
 }
 
 @media(max-width: 500px) {
    .header {
       height: 60px;
    }
 }