@import "./constants.css";

body {
	margin: 0;
	padding: 0;
	display: grid;
	place-items: center;
	height: 100vh;
}

.wrapper_quiz {
	position: relative;
	width: 100vw;
}

.d-none {
	display: none !important;
}

.order_number {
	position: absolute;
	left: 2%;
	top: 2%;
	font-size: 44px;
	padding: 1rem;
	width: 40px;
	height: 40px;
	justify-content: center;
	align-items: center;
	display: flex;
	color: var(--dark);
	border: 0.5px solid var(--borderColor);
}

/* Start Timer container */
.timer_content {
	width: 120px;
	height: 120px;
	background: var(--darkPink);
	border-radius: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
	margin: 1% 2%;
}

.timer_content p {
	font-size: 45px;
	color: var(--light);
}

.clear {
	clear: both;
}

/* End Timer Container */

/* Start Questions container */
.questions_content {
	width: 60%;
	height: 80px;
	background: var(--lightPrimary);
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 3px;
	margin: 0 auto;
	margin-bottom: 1rem;
}

.questions_content span {
	padding: 0.5rem;
	background: red;
}

.questions_content #number_1,
.questions_content #number_2 {
	padding: 1rem;
	min-width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 8px;
	background: var(--lightPink);
	color: var(--light);
	font-size: 35px;
}

.questions_content #operation {
	padding: 1rem;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 8px;
	background: var(--green);
	color: var(--dark);
	font-size: 40px;
	display: flex;
	align-items: center;
}

/* End Questions container */

/* Start Answers container */
.answers_content {
	width: 60%;
	height: 300px;
	margin: 0 auto;
}

.answers_content .row {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	margin: 2rem 0;
}

.answers_content .row .answer_box {
	padding: 1rem 5rem;
	display: flex;
	align-items: center;
	transition: 0.1s transform linear;
	cursor: pointer;
	flex: 1;
}

.answers_content .row .answer_box:hover {
	border: 0.5px solid var(--borderColor);
}

.answers_content .row .answer_box:active {
	transform: scale(0.93);
}

.answers_content .row .answer_box .answer_btn {
	width: 60px;
	height: 60px;
	background: var(--darkPrimary);
	font-size: 25px;
	color: var(--light);
	border-radius: 30px;
	text-align: center;
	line-height: 60px;
	margin-right: 1rem;
}

.answers_content .row .answer_box .answer_text {
	font-size: 24px;
}
/* End Answers container */
