* {
	user-select: none;
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;
	background-color: #222;
	display: grid;
	place-items: center;
}

.wrapper {
	width: 1000px;
	height: 800px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 0.5rem;
	padding: 0.5rem;
}

.card {
	width: 100%;
	height: 100%;
	background-color: #efed40;
	font-size: 80px;
	display: grid;
	place-items: center;
	border-radius: 10px;
	transition: 0.3s ease-in-out scale;
	cursor: pointer;
	position: relative;
}

.card::before {
	content: "❓";
	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	background-color: rgb(0, 255, 242);
	border-radius: inherit;
	opacity: 1;
	transition: 0.3s linear opacity;
}

.find {
	pointer-events: none;
	opacity: 0.7;
}
.find::before {
	opacity: 0;
}
.card:active {
	scale: 0.95;
}

.active:before {
	opacity: 0;
}

.active {
	pointer-events: none;
}
