* {
	user-select: none;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body {
	margin: 0;
	padding: 0;
	display: grid;
	place-items: center;
	height: 100vh;
}

.container {
	position: relative;
	width: 900px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.info {
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	margin: 0;
	padding: 0.5rem;
	gap: 0.5rem;
}

.info li {
	width: max-content;
	padding: 1rem;
	border-radius: 20px;
	background-color: #efed40;
	place-items: center;
	margin: 0;
	font-size: 25px;
	font-weight: bold;
}

.quiz {
	position: relative;
	width: 100%;
}

.order_number {
	position: absolute;
	left: 2%;
	top: 2%;
	font-size: 44px;
	padding: 1rem;
	width: 40px;
	height: 40px;
	justify-content: center;
	align-items: center;
	display: flex;
	color: var(--dark);
	border: 0.5px solid var(--borderColor);
}

.questions {
	width: 100%;
	height: 80px;
	background: rgb(159, 207, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 1rem;
	border-radius: 6px;
}

.questions p {
	padding: 1rem;
	text-align: center;
	border-radius: 8px;
	font-size: 35px;
	display: grid;
	place-items: center;
	font-weight: bold;
}

.answers {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5rem;
}

.btn {
	padding: 1rem;
	font-size: 30px;
	background-color: aqua;
	border: none;
	border-radius: 5px;
	transition: 0.03s linear scale;
	cursor: pointer;
	font-weight: bold;
}

.btn:active {
	scale: 0.95;
}

.points {
	width: 100%;
	display: flex;
	gap: 0.5rem;
}

.point {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: red;
	display: grid;
	place-items: center;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	transition: 0.03s linear scale;
	font-weight: bold;
}

.point:active {
	scale: 0.95;
}

.btn.correct,
.point.correct {
	background-color: rgb(98, 236, 18);
	color: black;
}
.btn.incorrect,
.point.incorrect {
	background-color: rgb(231, 46, 46);
	color: #fff;
}

.point.timed {
	background-color: rgb(0, 0, 0);
	color: #fff;
}

#result {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 2rem;
	background-color: rgb(5, 194, 194);
	border-radius: 6px;
}

#result > div {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.hide {
	display: none !important;
}
